body {
    background-color: lightpink;
}

#board {
    padding-top: 10em;
    text-align: center;
}

.row {
    clear: both;
    margin: auto;
    width: 305px;
}

.row>div {
    width: 100px;
    height: 100px;
    float: left;
    cursor: pointer;
    line-height: 100px;
    font-size: 75px;
}

.top {
    border-bottom: 2px black solid;
}

.bottom {
    border-top: 2px black solid;
}

.left {
    border-right: 2px black solid;
}

.right {
    border-left: 2px black solid;
}